/* 
Primary Color: F5EDDC
Secondary Color: CFD2CF
Accent Color: A2B5BB

*/
img{
    width: 500px;
    height: 500px;
}

h1{
    text-align: center;
    color: rgb(13, 52, 180);
}

.canvass{
    width: 500px;
    height: 600px;
    background-color: #F5EDDC;
    overflow: hidden;
    filter: blur(2px);
 
}

.frame{
    border: 50px solid black;
    width: 500px;
    padding: 50px;
    margin: 20px auto;
}

.one{
    width: 425px;
    height: 150px;
    background-color: #CFD2CF;
    margin: 20px auto;
    filter: blur(1px);
    box-shadow: 3px  3px #CFD2CF;
    border-radius: 9px;
    transform: rotate(0.6deg);
}

.two{
    width: 475px;
    height: 200px;
    background-color: #A2B5BB;
    margin: 0 auto 20px;
    filter: blur(1px);
    box-shadow: 3px 3px #A2B5BB;
    border-radius: 8px 10px;
    transform: rotate(4.0deg);
}

.three{
    width:91%;
    height: 28%;
    background-color: aqua;
    margin: auto;
    filter:blur(2px);
    box-shadow: 5px 5px aqua;
    border-radius: 30px 25px 60px 12px;
    transform: rotate(-2.0deg);
}