/* 
Primary Color: F5EDDC
Secondary Color: CFD2CF
Accent Color: A2B5BB

*/
img{
    width: 500px;
    height: 500px;
}

.canvass{
    width: 500px;
    height: 600px;
    background-color: #F5EDDC;
    padding: 1px;
}

.frame{
    border: 50px solid black;
    width: 500px;
    padding: 50px;
    margin: 20px auto;
}

.one{
    width: 425px;
    height: 150px;
    background-color: #CFD2CF;
    margin: 20px auto;
}